
<article>
<section class="about-text">
    <h2>Sobre mim</h2> 
    <img src="../../../assets/images/back-backward-development-svgrepo-com.svg" alt="">
<p>Sou um estudante com amplo conhecimento em uma variedade de tecnologias modernas, incluindo JavaScript, TypeScript, Python, PHP, HTML, CSS, React, Angular, Node.js, Supabase, MongoDB e MySQL. Minha experiência abrange todo o espectro do desenvolvimento web, permitindo-me criar páginas web altamente responsivas e interfaces de usuário intuitivas.
</p>
</section>
<section class="about-image">
    <h2>Tecnologias</h2>
    <div class="a">
    <p>O Basico</p>
    <img src="../../../assets/images/html5-01-svgrepo-com.svg" alt="">
    <img src="../../../assets/images/css3-01-svgrepo-com.svg" alt="">
    <p>Bancos de dados</p>
        <img src="../../../assets/images/mongodb-svgrepo-com.svg" alt="">
        <img src="../../../assets/images/mysql-svgrepo-com.svg" alt="">
    </div>
    <div class="b">
    <p>Linguagens de programação e frameworks</p>
        <img src="../../../assets/images/javascript-155-svgrepo-com.svg" alt="">
        <img src="../../../assets/images/typescript-svgrepo-com.svg" alt="">
        <img src="../../../assets/images/nodejs01-svgrepo-com.svg" alt="">
        <img src="../../../assets/images/angular-svgrepo-com.svg" alt="">
        <img src="../../../assets/images/react-svgrepo-com.svg" alt="">
        <img src="../../../assets/images/python-127-svgrepo-com.svg" alt="">
        <img src="../../../assets/images/php02-svgrepo-com.svg" alt="">
    </div>

   
</section>
</article>