[data-theme=light] {
    --text: #07050a;
    --background: #d6d4d4;
    --background2:#cfb4e4;
    --primary: #8459c0;
    --secondary: #b295da;
    --accent: #9064ce;
 }

[data-theme = dark] {
    --text: #f7f5fa;
    --background: #08040b;
    --background2: #181122;
    --primary: #6a3fa6;
    --secondary: #42256a;
    --accent: #5d319b;
 }