input{
    border: 0px none whitesmoke;
    background-color: rgb(219, 218, 218);
    width: 50vw;
    height: 40px;
    border-radius: 15px;
    margin-left: 10%;
}
button{
    border: none;
    background-color: white;
}