<form action="" class="form">
    <div>
    <img src="../../../assets/images/user-svgrepo-com.svg" alt="">
    <input type="text" name="name" id="" placeholder="Seu Nome">
    </div>
    <div>
    <img src="../../../assets/images/mail-svgrepo-com.svg" alt="">
    <input type="email" name="email" id="" placeholder="Seu email">
    </div>
    <div>
        <img src="../../../assets/images/message-square-pencil-svgrepo-com.svg" alt="">
    <textarea name="message" id="" placeholder="Sua mensagem"></textarea>
    </div>
    <button class="button">Enviar</button>
</form>