<app-toolbar></app-toolbar>
<div class="bar">
<input placeholder="search" type='text' [(ngModel)]="term">
<button type="submit" (click)="buscar(term, produtosfiltrados, produtos,i)"><mat-icon>search</mat-icon></button>
</div>
<h1 style="background-color: whitesmoke; margin: 0 0 0;">Você pesquisou por: {{term}}</h1>
<mat-grid-list cols="3" rowHeight="35em" gutterSize=".5px"> 
  <div *ngFor="let produto of produtosfiltrados;let i = index">
      <mat-grid-tile>
        <mat-card class="card">
          <img class="img-card" mat-card-image src="{{'../../../../../assets/imagens/' + produtosfiltrados[i].img}}" alt="{{produtosfiltrados[i].titulo}}">
        <mat-card-header>
          <mat-card-title>{{produtosfiltrados[i].titulo}}</mat-card-title>
          <mat-card-subtitle>{{produtosfiltrados[i].titulo}}</mat-card-subtitle>
        </mat-card-header>
          <mat-card-content class="descri">
          <h2 style="color: black; background-color: transparent;">
            {{produtosfiltrados[i].valor| currency:'BRL': 'R$': '1.3'}}
          </h2>
          <p style="color: black; display: block;">OU em 12x SEM JUROS</p>
          <mat-icon style="color: black; margin: 1%;">add_shopping_cart</mat-icon>
          <button (click)="push(produtoids,produtosfiltrados,i)">
          <mat-icon style="background-color: transparent;" (click)="addcarrinho"> attach_money</mat-icon>
          <p style="background-color: transparent;">Comprar</p>
          </button>
          
        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
  </div>
</mat-grid-list>

<router-outlet></router-outlet>
