.carousel{
    display: block;
    height: 500px;
}
.prev{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    float: left;
    font-size: 100px;
}
.next{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    float: right;
    font-size: 100px;
}
.d-block{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}