#texto1{
    color: red;
    text-align: center;



}#texto2{
    color: blue;
    text-align: justify;


}
#texto3{
    color: black;
    text-transform: lowercase;



}#texto4{
    color: tomato;
    text-indent: 5px;

}#texto5{
    color: blueviolet;
    text-decoration: overline underline;
}#texto6{
    color: chartreuse;
    line-height: 1.3;
    letter-spacing: 4px;

}
#texto7{
    color: darkgoldenrod;
    text-shadow: 1px 1px black;


}