$text: #e6e5f1;
$background: #07060f;
$primary: #9d98e2;
$secondary: #211884;
$accent: #3f31ea;

@import url('https://fonts.googleapis.com/css?family=Genos:700|Genos:400');
*{
    margin: 0;
    padding: 0;
    font-family: 'Genos';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Genos';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}
menu{
 display: flex;
}
.menu{
    background-color: $background;
    color: $text;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    padding-top: 2em;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav a{
    color: $accent;
    padding: 1em;
    text-decoration: none;
    color: $accent;
    font-size: 1.2rem;
}
.nav a:hover{
    border-bottom: $primary solid .2em;
    transition-duration: 100ms;
}
.title{
    background-color: $background;
    color: $text;
    display: flex;
    color: #e6e5f1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
    align-content: flex-end;
    padding-bottom: 3em;
}
.title-button{
    display: flex;
    align-items: center;
    padding: .3em;
    font-size: 1.5em;
    background-color: $primary;
    
}
.title-button:hover{
    background-color: $accent;
}
.title-button img{
    width: 1.5em;
    padding-left: .5em;
}
.i{
    padding: 0 .5em 0 .5em;
    font-size: 1em;
    background-color: $text;
}
ul{     
    list-style: none;
    padding: 0;
    margin: 0;
}