<menu class="menu">
<!--<button type="button">
    <mat-icon>menu</mat-icon>
</button>-->

<div class="nav">
<div>
    <a href="">
      
      Sobre
    </a>
</div>

<div> <a href="">
      
      Projetos
      </a>
  </div>

<div>
  <a href="">
    
    Contato
  </a>
</div>
</div>
</menu>

<div class="title">
    <div>
    <h1>Nathan Teodoro</h1>
    <h2>Desenvolvedor Web</h2>
    </div>
    <button class="title-button" (click) = toggleDisplay()>Download CV
      <img src="../../../assets/images/download-svgrepo-com.svg" alt="">
      <ul [hidden]="!isShow">
        <li><button class="i">PT🇧🇷</button></li>
        <li><button class="i">US🇺🇸</button></li>
      </ul>
    </button>
    
</div>
