*{
  display: flex;
}
mat-grid-list{
  background-color: whitesmoke;
}
mat-grid-tile {
    background: #ffffff;
    border: 1px;
    border-radius: 2px;
    width: 90%;
    
  }
.card {
  align-items: center;
  justify-content: flex-end;
  background: transparent;
  background-size:cover ;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 90%;
  padding: 0;
}

.header-image {
  background-size: cover;
}