<mat-grid-list cols="4" rowHeight="1:1.2" gutterSize="1em">
  <div *ngFor="let produto of produtos;let i = index">
    <mat-grid-tile>
      <mat-card class="card">
      <mat-card-header>
        <img mat-card-image src="{{'../../assets/images/' + produtos[i].img}}" alt="{{produtos[i].titulo}}" width="250px">
      </mat-card-header>
      <mat-card-title>{{produtos[i].titulo}}</mat-card-title>
      <mat-card-subtitle>{{produtos[i].valor}}</mat-card-subtitle>
      <mat-card-content>
        <p>
         12X SEM JUROS!
        </p>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>

  </div>