<header>
    <div class="topnav">
        <a routerLink="dashboard" routerLinkActive="active">Home</a>
        <a routerLink="novo" routerLinkActive="active">Novo</a>
        <a routerLink="produto" routerLinkActive="active">Produtos</a>
    </div>
</header>

<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Projeto 1</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
      <a href="../novo/novo.component.html"></a>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>