p{
    font-family: 'Courier New', Courier, monospace;
}
#paragrafo2{
    font-family: 'Courirer New', CÇourier, comicc, sans-serif;
}
#paragrafo3{
    font-size: 50px;
}
#paragrafo4{
    font-weight: 300;
}
#paragrafo5{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}