
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.lista{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5em;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: 2.5vh;
    border-bottom: .5px;
}
.vt{margin: auto;
    border-radius: 2px;
    color: whitesmoke;
    display: flex;
    width: max-content;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: black;
    padding: 2vw;
}
li{
    padding: 0
}
.comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    background-color: whitesmoke;
    color: black;
    font-size: 1em;
    width: 15vw;
}
.comprar:hover{
    background-color: greenyellow;
    color: black;
}
.vt h3{
    color: green;
    font-size: 5vh;
    padding: 1em;
  }